
<div class="navigation d-flex justify-content-between align-content-center gap-2 ps-5 pe-5 border border-1">

  <div class="section-title">
    <h1 class="text-black mt-2 fs-2">Modelo de Produtos</h1>
  </div>

    <%= button_to('Cadastrar Modelo de Produto', new_product_model_path, method: "get", class:"btn btn-outline-primary btn-lg" ) %>
</div>
</div>

<div class="content mt-4 d-flex">
  <div class="row">
  <% @products.each do |p| %>
    <div class="col">
    <div class="card mb-3" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title mb-3"><%= link_to p.name, product_model_path(p.id) %></h3>
            <p class="card-text mb-0">
              <h5 class="fw-bolder">SKU: </h5>
              <p class="text-black"><%= p.sku %><p>
            </p>
            <p class="card-text mb-0">
              <h5 class="fw-bolder">Fornecedora: </h5>
              <p class="text-black"><%= p.supplier.brand_name %><p>
            </p>
            <p class="card-text mb-0">
              <h5 class="fw-bolder">Peso: </h5>
              <p class="text-black"><%= p.weight %>kg<p>
            </p>
              <%= link_to 'Ver detalhes', product_model_path(p.id), class:"btn btn-outline-primary"%>
          </div>
        </div>
    </div>

  <%end%>


  <% if(@products.empty?)%>
    <p>Nenhum modelo de produto cadastrado!</p>
  <% end %>
  </div>




</section>
