<%= link_to 'Cadastrar Galpão', new_warehouse_path %>

<section id="warehouses">
  <% @warehouses.each do |w| %>
    <div>
      <h3><%= link_to w.name, warehouse_path(w.id) %></h3>
      <dl>
        <dt><b>Código</b></dt>
          <dd><%= w.code %></dd>
        <dt><b>Cidade</b></dt>
          <dd><%= w.city %></dd>
        <dt><b>Área</b></dt>
          <dd><%= w.area %></dd>
      </dl>
    </div>
  <% end %>

  <% if(@warehouses.empty?)%>
    <p>Nenhum galpão cadastrado!</p>
  <% end %>
</section>