

<div class="text-center mt-2">
  <div type="button" class="btn btn-outline-primary">
    <%= button_to('Cadastrar Galpão', new_warehouse_path,
            method: "get") %>
  </div>
</div>


<div class="container mt-4 d-flex ">
  <div class="row">
  <% @warehouses.each do |w| %>
    <div class="col ">
    <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title"><%= link_to w.name, warehouse_path(w.id) %></h3>
            <p class="card-text">
              <strong>Código</strong>: <%= w.code %> <br>
              <strong>Cidade</strong>: <%= w.city %> <br>
              <strong>Área</strong>: <%= w.area %>m²
            </p>
            <p class="btn btn-outline-primary">
              <%= link_to 'Ver detalhes', warehouse_path(w.id)%>
            </p>
          </div>
        </div>
    </div>

  <%end%>
  </div>





<% if(@warehouses.empty?)%>
  <p>Nenhum galpão cadastrado!</p>
<% end %>
