<% if @errors %>
<div class="alert alert-danger">

  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
  </div>

<% end %>


<%= form_with model: @supplier, local: true, data: { turbo: false }  do |f| %>

  <div>
    <%= f.label :corporate_name %> <br/>
    <%= f.text_field :corporate_name , placeholder:"BRA Produções Limitadas LITDA" %>
  </div>
  <div>
    <%= f.label :brand_name %> <br/>
    <%= f.text_field :brand_name , placeholder:"BRA Produções" %>
  </div>
  <div>
    <%= f.label :registration_number %> <br/>
    <%= f.text_field :registration_number , placeholder:"109.210.012/00001-89" %>
  </div>
  <div>
    <%= f.label :full_address %> <br/>
      <%= f.text_field :full_address, placeholder: "Rua Marechal Tito, 2000" %>
  </div>
      <div>
        <%= f.label :city %> <br/>
        <%= f.text_field :city, placeholder:"Guarulhos" %>
      </div>
  <div>
    <%= f.label :state %> <br/>
    <%= f.text_field :state, placeholder:"São Paulo" %>
  </div>
  <div>
    <%= f.label :email %> <br/>
    <%= f.text_field :email, placeholder:"consultoria@braprodcoes.com.br" %>
  </div>
  <%= f.submit 'Salvar'%>
<%end%>

<%= link_to 'Voltar', root_path %>

