<div class="navigation d-flex justify-content-between align-content-center gap-2 ps-5 pe-5 border border-1">

  <div class="section-title">
    <h1 class="text-black mt-2 fs-2">Fornecedores</h1>
  </div>

    <%= button_to('Cadastrar Fornecedor', new_supplier_path, method: "get", class:"btn btn-outline-primary btn-lg" ) %>
</div>
</div>



<div class="content mt-4 d-flex">
  <div class="row">
  <% @suppliers.each do |s| %>
    <div class="col">
    <div class="card mb-3" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title mb-3"><%= link_to s.brand_name, supplier_path(s.id) %></h3>

            <p class="card-text mb-0">
              <h5 class="fw-bolder">Nome Empresarial: </h5>
              <p class="text-black"><%= s.corporate_name %><p>
            </p>
            <p class="card-text mb-0">
              <h5 class="fw-bolder">Cidade: </h5>
              <p class="text-black"><%= s.city %><p>
            </p>
            <p class="card-text mb-0">
              <h5 class="fw-bolder">CNPJ: </h5>
              <p class="text-black"><%= s.registration_number %><p>
            </p>
            <p class="card-text mb-0">
              <h5 class="fw-bolder">E-mail: </h5>
              <p class="text-black"><%= s.email %><p>
            </p>
              <%= link_to 'Ver detalhes', supplier_path(s.id), class:"btn btn-outline-primary"%>
          </div>
        </div>
    </div>

  <%end%>
    <% if(@suppliers.empty?)%>
    <p class="text-black-50 text-center">Nenhum fornecedor cadastrado!</p>
  <% end %>
  </div>









