

<div class="text-center mt-2">
  <div type="button" class="btn btn-outline-primary">
    <%= button_to('Cadastrar Fornecedor', new_supplier_path,
      method: "get" ) %>
  </div>
</div>


<div class="container mt-4 d-flex">
  <div class="row">
  <% @suppliers.each do |s| %>
    <div class="col">
    <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h3 class="card-title"><%= link_to s.brand_name, supplier_path(s.id) %></h3>
            <p class="card-text">
              <strong>Nome Empresarial</strong>: <%= s.corporate_name %> <br>
              <strong>Cidade</strong>: <%= s.city %> <br>
              <strong>CNPJ</strong>: <%= s.registration_number %> <br>
              <strong>E-mail</strong>: <%= s.email %>
            </p>
            <p class="btn btn-outline-primary">
              <%= link_to 'Ver detalhes', supplier_path(s.id)%>
            </p>
          </div>
        </div>
    </div>

  <%end%>
  </div>







  <% if(@suppliers.empty?)%>
    <p>Nenhum fornecedor cadastrado!</p>
  <% end %>
</section>
