<section>

  <fieldset>
    <legend><h2><%= @supplier.brand_name %></h2></legend>
    <legend>
      <p>
        <strong>Nome Empresarial: </strong>
        <%= @supplier.corporate_name %>
      </p>
      <p>
        <strong>Número de Registro: </strong>
        <%= @supplier.registration_number %>
      </p>
       <p>
        <strong>Endereço: </strong>
        <%= @supplier.full_address %>
      </p>
       <p>
        <strong>Cidade: </strong>
        <%= @supplier.city %>
      </p>
      <p>
        <strong>Estado: </strong>
        <%= @supplier.state %>
      </p>
      <p>
        <strong>Email: </strong>
        <%= @supplier.email %>m2
      </p>
    </legend>
  </fieldset>

</section>

<%= link_to 'Editar', edit_supplier_path %>
<%= link_to 'Voltar', suppliers_path %>
