<h1>Editar Galpão</h1>

<% if @errors %>
<div class="alert alert-danger">

  <% @errors.each do |error| %>
    <p><%= error %></p>
  <% end %>
  </div>

<% end %>

<%= form_with model: @warehouse, local: true, data: { turbo: false }  do |f| %>  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div>
        <%= f.label :address %>
        <%= f.text_field :address %>
      </div>
      <div>
        <%= f.label :code %>
        <%= f.text_field :code %>
      </div>
  <div>
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>
  <div>
    <%= f.label :area %>
    <%= f.number_field :area %>
  </div>
  <div>
    <%= f.label :cep %>
    <%= f.text_field :cep  %>
  </div>
  <%= f.submit 'Salvar alterações'%>

<%= link_to 'Voltar', root_path %>
<% end %>


