<section>

  <fieldset>
    <legend><h2><%= @warehouse.name %></h2></legend>
    <legend>
      <p>
        <strong>Descrição: </strong>
        <%= @warehouse.description %>
      </p>
      <p>
        <strong>Código: </strong>
        <%= @warehouse.code %>
      </p>
       <p>
        <strong>Endereço: </strong>
        <%= @warehouse.address %>
      </p>
       <p>
        <strong>Cidade: </strong>
        <%= @warehouse.city %>
      </p>
      <p>
        <strong>CEP: </strong>
        <%= @warehouse.cep %>
      </p>
      <p>
        <strong>Area: </strong>
        <%= @warehouse.area %>m2
      </p>
    </legend>
  </fieldset>

</section>

<%= button_to('Deletar Galpão', warehouse_path,
          method: "delete", remote: true, data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %>

<%= link_to 'Editar', edit_warehouse_path %>
<br>
<%= link_to 'Voltar', root_path %>
