<section>
  <h2><%= @warehouse.name %></h2>
  <hr>

  <div class="list-group mb-3">
  <a href="#" class="list-group-item list-group-item-action" aria-current="true">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1 fw-bold">Descrição:</h4>
    </div>
    <p class="mb-1"><%= @warehouse.description %></p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1 fw-bold">Código:</h4>
    </div>
    <p class="mb-1"><%= @warehouse.code %></p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1 fw-bold">Endereço</h4>
    </div>
    <p class="mb-1"><%= @warehouse.address %></p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1 fw-bold">Cidade</h4>
    </div>
    <p class="mb-1"><%= @warehouse.city %></p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1 fw-bold">CEP</h4>
    </div>
    <p class="mb-1"><%= @warehouse.zip_code %></p>
  </a>
  <a href="#" class="list-group-item list-group-item-action">
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1 fw-bold">Área</h4>
    </div>
    <p class="mb-1"><%= @warehouse.area %>m²</p>
  </a>
</div>

  <div class="section-buttons d-flex gap-2 flex-row-reverse">
    <%= button_to 'Deletar', warehouse_path, method: :delete, class:"btn btn-lg btn-danger" %>
    <%= button_to 'Editar', edit_warehouse_path, method: :get, class:"btn btn-lg btn-warning" %>
    <%= button_to 'Voltar', root_path, method: :get, class:"btn btn-lg btn-info" %>
  </div>
</section>


